<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="OFF">

    <Appenders>

        <Console name="console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ssS} %-5level %logger{36} %L %M - %msg%n" />-->
            <PatternLayout pattern="[%-5p] %-20d{yyyy/MM/dd HH:mm:ss} %l %n%m%n" />
        </Console>

        <RollingFile name="debug" fileName="D:/Projects/nginxCase_fir/log/debug.log"
                     filePattern="D:/Projects/nginxCase_fir/log/debug.%d{yyyy-MM-dd}.log"
                     append="true">
            <Filters>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} %L %M - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24" />
                <SizeBasedTriggeringPolicy size="51200KB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

        <RollingFile name="info" fileName="D:/Projects/nginxCase_fir/log/info.log"
                     filePattern="D:/Projects/nginxCase_fir/log/info.%d{yyyy-MM-dd}.log"
                     append="true">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} %L %M - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24" />
                <SizeBasedTriggeringPolicy size="51200KB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

        <RollingFile name="warn" fileName="D:/Projects/nginxCase_fir/log/warn.log"
                     filePattern="D:/Projects/nginxCase_fir/log/warn.%d{yyyy-MM-dd}.log"
                     append="true">
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} %L %M - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24" />
                <SizeBasedTriggeringPolicy size="51200KB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

        <RollingFile name="error" fileName="D:/Projects/nginxCase_fir/log/error.log"
                     filePattern="D:/Projects/nginxCase_fir/log/error.%d{yyyy-MM-dd}.log"
                     append="true">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} %L %M - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24" />
                <SizeBasedTriggeringPolicy size="51200KB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console" />
            <AppenderRef ref="debug" />
            <AppenderRef ref="info" />
            <AppenderRef ref="error" />
        </Root>
    </Loggers>

</Configuration>