<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="indexHandler" class="com.IndexHandler"></bean>

    <!-- 扫描控制器 -->
    <context:component-scan base-package="com.**" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!-- spring mvc 注解; 支持处理器映射器、处理器适配器的配置 -->
    <mvc:annotation-driven>
        <!-- spring mvc 消息转换 -->
        <mvc:message-converters>
            <!-- 设置HttpMessageConverter处理String类型数据时采用的编码 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
            <!-- 用来处理json格式转换 -->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 配置视图解析器，前缀与后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--<property name="viewClass">
            <value>org.springframework.web.servlet.view.InternalResourceView</value>//默认配置
        </property>-->
        <property name="cache" value="false" />
        <!--<property name="prefix" value=""/>-->
        <!--<property name="suffix" value=".jsp"/>-->
        <!-- 视图的优先级，0为最优先 -->
        <property name="order" value="10" />
    </bean>

    <mvc:default-servlet-handler />

     <!--配置spring MVC的拦截器-->
    <!-- 配置多个拦截器时，preHandle顺序执行，另两个倒序执行 -->
    <!-- preHandle返回true后afterCompletion必定执行，返回false另两个都不执行 -->
    <!--<mvc:interceptors>
        <mvc:interceptor>
            &lt;!&ndash; 拦截所有 &ndash;&gt;
            <mvc:mapping path="/**"/>
            &lt;!&ndash; exclude-mapping 不拦截的地址 &ndash;&gt;
            <mvc:exclude-mapping path="/admin/login" />
            <mvc:exclude-mapping path="/front/login" />
            <bean clacom.stone.core.interceptorptor.LoginInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            &lt;!&ndash; 拦截所有 &ndash;&gt;
            <mvc:mapping path="/**"/>
            <bean clacom.stone.core.interceptorptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>-->

</beans>